<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Contatos</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="icon" type="image/x-icon" href="../../../public/images/icondev.png">
    <!-- css -->
    <link rel="stylesheet" href="../../../public/css/styles.css">
    <link rel="stylesheet" href="../../../public/css/contact.css">
  </head>
  <body>

    <div ng-app="myApp" ng-controller="myController" style="text-align: center;" id="app">
      <h2 style="margin-top: 50px;">Estamos Aprendendo AngularJS</h2>
    
      <p style="margin-top: 100px;"> <span id="text"> Texto: </span> {{firstName + " " + secondName}}{{message}}</p>
      
      <button ng-click="changeName(true, false)">Mudar Nome</button>
    </div>

        <!-- scritps -->
        <script src="../../../public/js/contatos.js"></script>
  </body>
</html>