<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <!-- icon-->
    <link rel="icon" type="image/x-icon" href="../../../public/images/icondev.png">
    <!-- css -->
    <link rel="stylesheet" href="../../../public/css/quiz.css">
    <!-- scripts-->
    <!--<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

  </head>
  <body>
     <h1 class="h1">Getha Quiz!</h1>
     
     <main>
        <label for="">Insira a sua Resposta: </label><br>
        <input type="text" id="usuarioResposta" placeholder="Insira resposta aqui">

        <button id="btnEnviarResposta">Enviar Resposta</button>

        <div id="resultado"></div>
     </main>
    <!-- scritps -->
    <script src="../../../public/js/quiz/quiz.js"></script>
  </body>
</html>