<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <!-- icon-->
    <link rel="icon" type="image/x-icon" href="./public/images/icondev.png">
    <!-- css -->
    <link rel="stylesheet" href="../../public/css/styles.css">
    <link rel="stylesheet" href="../../public/css/contact.css">
    <!-- scripts-->
    <!--<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

  </head>
  <body>
    <header>
        <nav>
          <ul>
            <li><a href="../../index.html">Pagina Inicial</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Aplicações</a></li>
            <li><a href="contatos.html" style="border-bottom: 1px solid blue;">Contatos</a></li>
            <li><a href="#">Login/Cadastro</a></li>
            <hr style="margin-top: 10px">
          </ul>
        </nav>
    </header>
    <div class="sidenav">

      <a href="contatos/listagemContatos.html">Listagem de Contatos</a>
    </div>
    <main>
        <h1 id="mainh1">Learning to be FullStack</h1>
        <section>
          <section id="littleForm" style="margin-left: 43%; margin-bottom: 20px;">
            <label for="msg">Digite sua mensagem:</label> <br>
            <input type="text" id="nome">
            <button id="btnEnviar">enviar</button>
          </section>
          
          <div id="content">
            <div id="result"></div><br>
            <hr id="hrline" style="margin-bottom: 20px;">
            <h2 style="margin-bottom: 5%;">Dados para contatos</h2>
            <div id="contact">
              <p>Telefone: 55 11 932519855</p>
              <p>Email: geronimo.olanda@outlook.com</p>
              <p>Instagram: geronimoolanda98</p>
              <hr id="hrline" style="margin-left: 50px;">
            </div>
            
          </div>

      </section>
    </main>

    <hr id="hrline" style="margin-top: 50px;">

  </div>

    <!-- scritps -->
    <script src="../../public/js/contatos.js"></script>
  </body>
</html>