<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Coisas a Fazer</title>

    <!-- scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  </head>
  <body ng-app="MyApp" ng-controller="todoController">
      <h2>Lista de Fazeres</h2>

      <form ng-submit="todoAdd()">
          <input type="text" ng-model="todoInput" size="50" placeholder="Adicione uma nova tarefa...">
          <button type="submit">Adicionar Tarefa</button>
      </form>
      <br>
      <div ng-repeat="item in todoList">
        <input type="checkbox" ng-model="item.done"> 
        <span ng-bind="item.todoText"></span>
      </div>
      <p><button ng-click="remove()">Remove marked</button></p>

    <!-- scripts-->

    <script src="../../../public/js/Todo.js"></script>
  </body>
</html>